@use "sass:math";
@use './settings/settings' as *;
@use './settings/_mixins.scss' as *;

.components {

   // .components__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: toRem(50);
      padding-top: toRem(50);
   }

   // .components__item
   &__item {}
}


// ===========================================================================================
// -----------------------------
// Buttons-active
// -----------------------------
.icon-menu {
   position: relative;
   width: toRem(30);
   height: toRem(20);
   z-index: 10;
   flex-shrink: 0;

   &::before,
   &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: toRem(3);
      border-radius: toRem(10);
      background-color: $black;
      transition: all 0.3s;
   }

   &::before {
      top: 0;
   }

   &::after {
      bottom: 0;
   }

   span {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      background-color: $black;
      width: 70%;
      height: toRem(3);
      border-radius: toRem(10);
      transition: all 0.3s;
   }

   @media (min-width: toEm(460)) {
      display: none;
   }
}

.menu-open {
   .icon-menu {
      &::before {
         top: 50%;
         rotate: 45deg;
         translate: 0 -50%;
      }

      &::after {
         top: 50%;
         rotate: -45deg;
         translate: 0 -50%;
      }

      span {
         width: 0;
      }
   }
}
