@use "sass:math";

@mixin hover {
   html[data-input="mouse"] & {
      &:hover {
         @content;
      }
   }
}

@mixin tap {

   html[data-input="touch"] &,
   html[data-input="pen"] & {
      &:active {
         @content;
      }
   }
}

@mixin focus {
   html[data-input="keyboard"] & {
      &:focus-visible {
         @content;
      }
   }
}
