@use "sass:math";

// ===========================================================================================
// -----------------------------
// Variables
// -----------------------------
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$colorPrimiry:rgba(82, 82, 82, 1);
$colorSecondary:rgba(69, 69, 69, 1);
$colorAccent: rgba(188, 20, 20, 1);
$bg:rgba(247, 247, 247, 1);
$bgFooter:rgba(233, 233, 233, 1);
$colorText:rgba(58, 58, 58, 1);

// ===========================================================================================
// -----------------------------
// FONTS
// -----------------------------
@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900);
// ===========================================================================================
// -----------------------------
// COMMON
// -----------------------------
// colors
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1600;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;


// ===========================================================================================
// -----------------------------
// PERSENT / REM / EM
// -----------------------------
//Percent
@function percent($px, $from: 100) {
   $result: math.div($px, $from) * 100%;
   @return $result;
}

//REM
@function toRem($px, $current: 16) {
   $result: math.div($px, $current) + rem;
   @return $result;
}

//EM
@function toEm($px, $current: 16) {
   $result: math.div($px, $current) + em;
   @return $result;
}


// ===========================================================================================
// -----------------------------
// Адаптивна властивість (clamp)
// -----------------------------
@mixin adaptiveValue($property, $startSize, $minSize: $minSize, $keepSize: 0, $widthFrom: $containerWidth, $widthTo: $minWidth) {
   @if ($startSize==0) {
      $startSize: 0.000001;
   }

   @if ($minSize==0) {
      $minSize: 0.000001;
   }

   @if ($widthFrom ==$containerWidth and $maxWidthContainer ==0) {
      $widthFrom: $maxWidth;
   }

   // Брейк-поїнти в EM
   $widthFromMedia: toEm($widthFrom);
   $widthToMedia: toEm($widthTo);

   // Формула плаваючого значення
   // Источник: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
   $slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
   $yIntersection: -$widthTo * $slope + $minSize;

   @if ($yIntersection==0) {
      $yIntersection: 0.000001;
   }

   $flyValue: #{$yIntersection}px " + "#{$slope * 100}vw;

   // Отримання значення властивості
   $propertyValue: #{"clamp(" #{$minSize}px ","$flyValue ","#{$startSize}px ")"
}

;

// Якщо негативні значення
@if ($minSize > $startSize) {
   $propertyValue: #{"clamp(" #{$startSize}px ","$flyValue ","#{$minSize}px ")"
}

;
}

// Встановлюємо значення за замовчуванням
@if $keepSize !=1 and $keepSize !=3 {
   @media (min-width: $widthFromMedia) {
      #{$property}: #{$startSize}px;
   }
}

// Адаптуємо розмір у проміжку між зазначеними ширинами в'юпорту
@media (min-width: $widthToMedia) and (max-width: $widthFromMedia) {
   #{$property}: $propertyValue;
}

@if $keepSize !=1 and $keepSize !=2 {
   @media (max-width: $widthToMedia) {
      #{$property}: #{$minSize}px;
   }
}
}

// ===========================================================================================
// -----------------------------
// typography
// -----------------------------
@mixin typography($size: "S", $weight: 400, $adapt: 1, $sizeMob: 0) {
   $fontSize: 14;
   $fontSizeMob: 14;
   $fontWeight: $weight;

   @if ($size =="T") {
      $fontSize: 12;
   }

   @if ($size =="S") {
      $fontSize: 14;
   }

   @if ($size =="M") {
      $fontSize: 16;
      $fontSizeMob: 14;
   }

   @if ($size =="L") {
      $fontSize: 18;
      $fontSizeMob: 16;
   }

   @if ($size =="XL") {
      $fontSize: 20;
      $fontSizeMob: 18;
   }

   @if ($size =="XXL") {
      $fontSize: 24;
      $fontSizeMob: 20;
   }

   @if ($size =="h1") {
      $fontSize: 56;
      $fontSizeMob: 32;
   }

   @if ($size =="h2") {
      $fontSize: 48;
      $fontSizeMob: 28;
   }

   @if ($size =="h3") {
      $fontSize: 40;
      $fontSizeMob: 26;
   }

   @if ($size =="h4") {
      $fontSize: 36;
      $fontSizeMob: 24;
   }

   @if ($size =="h5") {
      $fontSize: 32;
      $fontSizeMob: 22;
   }

   @if ($size =="d1") {
      $fontSize: 72;
      $fontSizeMob: 38;
   }

   @if ($sizeMob > 0) {
      $fontSizeMob: $sizeMob;
   }

   @if ($adapt ==1) {
      @include adaptiveValue("font-size", $fontSize, $fontSizeMob);
   }

   @else {
      font-size: toRem($fontSize);
   }

   font-weight: $fontWeight;
   line-height: 1.5;
}
