@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.footer {
   @include adaptiveValue('padding-top',50,25);
   background-color: $bgFooter;
   // .footer__container
   &__container {
      max-width: toRem(1140) !important;
   }

   // .footer__body
   &__body {}
}

.body-footer {
   // display: grid;
   // grid-template-columns: 1fr auto;
   display: flex;
   justify-content: space-between;
   @include adaptiveValue('column-gap', 120, 40);

   @media (max-width: toEm(830)) {
   //   grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      @include adaptiveValue('row-gap', 40, 20);
   }

   // .body-footer__menu
   &__menu {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      justify-items: center;
      gap: toRem(20);

      @media (max-width: toEm(830)) {
         justify-content: space-evenly;
      }

      @media (max-width: toEm(490)) {
         flex-direction: column;
      }
   }

   // .body-footer__subscription
   &__subscription {}

   &__column {

   }
}

.column-menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   @include adaptiveValue('gap',45,20);
   // .column-menu__header
   &__header {
      display: flex;
      align-items: center;
      // @include adaptiveValue('margin-bottom', 45, 20);
      gap: toRem(20)
   }

   // .column-menu__title
   &__title {
      @include adaptiveValue('font-size', 21, 18);
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
   }

   // .column-menu__list
   &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(13);
      transition: height 0.35s ease;
      will-change: height;

      @media (max-width: toEm(490)) {
         height: 0;
         overflow: hidden;
      }
      @media (min-width: toEm(490)) {
         height: auto !important;
         overflow: visible;
      }
   }

   // .column-menu__item
   &__item {
      @include adaptiveValue('font-size', 15, 12);
      line-height: 133.333333%;
   }

   // .column-menu__link
   &__link {
      transition: all 0.3s;

      @include hover {
        text-shadow: 0 0 3px $black;
      }
   }

   &__icon {
      position: relative;
      width: toRem(15);
      height: toRem(15);

      &.icon-active {
         &::after {
            transform: translateX(0) rotate(-90deg);
         }
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: toRem(3);
         border-radius: toRem(6);
         background-color: $black;
         transition: transform 0.3s ease;
      }
      &::before {
         left: 0;
         top: 50%;
         translate: 0 -50%;
      }
      &::after {
         rotate: 90deg;
         top: 50%;
         translate: 0 -50%;
      }

      @media (min-width: toEm(490)) {
         display: none;
      }
   }
}

.subscription-body {
   flex-basis: toRem(342);
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width: toEm(830)) {
     flex-basis: 0;
   }

   > * {
      margin-bottom: toRem(20);
      &:last-child {
         margin-bottom: toRem(0);
      }
   }

   // .subscription-body__title
   &__title {}

   // .subscription-body__button
   &__button {
      font-size: toRem(15);
      padding-block: toRem(5);
      padding-inline: toRem(40);
      border: toRem(1) solid $black;
      line-height: 1;
      @include adaptiveValue('margin-bottom',31,15);
      transition: all 0.3s;

      @include hover {
        background-color: $black;
        color: $white;
      }
   }

   // .subscription-body__icons
   &__icons {}

   // .subscription-body__icon
   &__icon {}
}

.bottom-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: toRem(20);
   flex-wrap: wrap;
   @include adaptiveValue('padding-block',50,25);

   @media (max-width: toEm(830)) {
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   // .bottom-footer__copyright
   &__copyright {
      @include adaptiveValue('font-size',12,10);

      @include hover {
         text-decoration: underline;
      }
   }

   // .bottom-footer__payments
   &__payments {}

   // .bottom-footer__terms
   &__terms {}
}

.payments-method {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: toRem(8);
   justify-content: center;

   // .payments-method__item
   &__item {}

   // .payments-method__link
   &__link {
      transition: all 0.3s;
      @include hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.6);
      }
   }

   &__icon {
      width: toRem(66);
      height: toRem(28);
   }
}

.terms {
   display: flex;
   align-items: center;
   gap: toRem(6);
   flex-wrap: wrap;
   justify-content: center;
   // .terms__link
   &__link {
      font-size: toRem(11);

      &:not(:last-child) {
         border-right: toRem(1) solid $black;
         padding-right: toRem(6);
      }

      @include hover {
        text-decoration: underline;
      }
   }
}
