@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.page {
      // display: none;
   // > *:not(.partners) {
   //    display: none;
   // }

   // .page__hero
   &__hero {}

   // .page__advantages
   &__advantages {
      @include adaptiveValue('padding-block',45,20);
   }

   // .page__preview
   &__preview {}

   // .page__products
   &__products {
      @include adaptiveValue('padding-block', 115, 50);
   }

   // .page__gallery
   &__gallery {
      @include adaptiveValue('padding-bottom',80,40);
   }

   // .page__steps
   &__steps {
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__reviews
   &__reviews {
      @include adaptiveValue('padding-block', 70, 30);
   }

   // .page__partners
   &__partners {
      @include adaptiveValue('padding-block', 60, 30);
   }
}

// =============================================================
.hero {
      background-image: url("/src/assets/img/hero-img.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;

   // .hero__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiveValue('gap',40,20);
      @include adaptiveValue('padding-top',260,150);
      @include adaptiveValue('padding-bottom', 300, 50);
   }

   // .hero__title
   &__title {
      color: $white;
      font-family: "Roboto",sans-serif;
      @include adaptiveValue('font-size',27,18);
      text-align: center;
   }

   // .hero__button
   &__button {
      font-size: toRem(20);
      font-weight: 700;
      padding-inline: toRem(40);
      padding-block: toRem(10);
      color: $white;
      border: toRem(1) solid $white;
      background-color: transparent;
      transition: all 0.3s;

      @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
          color: $black;
          background-color: $white;
          border-color: $black;
        }
      }
   }
}

// =============================================================
.advantages {

   // .advantages__container
   &__container {}

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(230), 100%), 1fr));
      gap: toRem(30);
   }

   // .advantages__item
   &__item {}
}

.item-advantages {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: toRem(22);
   align-items: center;
   padding-block: toRem(10);

   // .item-advantages__icon
   &__icon {
      width: toRem(60);
      aspect-ratio: 1;
   }

   // .item-advantages__label
   &__label {
      font-family: "Roboto",sans-serif;
      font-size: toRem(13);
      letter-spacing: toRem(0.2);
   }
}

// =============================================================
.preview {

   // .preview__container
   &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(290),100%),1fr));
   }

   // .preview__image
   &__image {
      aspect-ratio: 360 / 320;
      flex-shrink: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

// =============================================================
.products {

   // .products__container
   &__container {}

   // .products__items
   &__items {
      display: grid;
      @include adaptiveValue('row-gap',30,20);
   }
}

.item-product {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: toRem(22);
   grid-template-rows: auto;

   &:nth-child(even) {
      direction: rtl;
      .item-product__text {
         text-align: left;
      }
   }

   @media (max-width: toEm(990)) {
     grid-template-columns: 1fr;
   }

   // .item-product__content
   &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > * {
         margin-bottom: toRem(4);
         &:last-child {
            margin-bottom: toRem(0);
         }
      }
   }

   // .item-product__title
   &__title {
      font-family: "Roboto",sans-serif;
      @include adaptiveValue('font-size', 33, 20);
      font-weight: 700;
   }

   // .item-product__subtitle
   &__subtitle {
      font-style: italic;
      @include adaptiveValue('font-size', 18, 14);
      @include adaptiveValue('margin-bottom',23,10);
   }

   // .item-product__label
   &__label {
      font-size: toRem(15);
   }

   // .item-product__text
   &__text {
      @include adaptiveValue('font-size',18,14);
      color: $colorPrimiry;
      max-width: toRem(440);
      @include adaptiveValue('margin-bottom',27,10);
      text-align: right;
   }

   // .item-product__link
   &__link {
      font-family: "Roboto",sans-serif;
      @include adaptiveValue('font-size', 17, 14);
      line-height: 129.411765%; /* 22/17 */
      border-bottom: toRem(1) solid $black;
      transition: all 0.3s;

      @include hover {
        text-shadow: 0 0 3px $black;
        translate: 0 toRem(-3);
      }
   }

   &__option {
      @include adaptiveValue('margin-bottom',47,10);
   }

   // .item-product__image
   &__image {
      aspect-ratio: 960 / 542;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

// =============================================================
.gallery {

   // .gallery__container
   &__container {}

   // .gallery__header
   &__header {}

   // .gallery__body
   &__body {}

   // .gallery__slider
   &__slider {}
}

.header-gallery {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: toRem(20);
   @include adaptiveValue('margin-bottom',37,20);

   // .header-gallery__title
   &__title {
      color: $colorText;
      @include adaptiveValue('font-size',30,20);
      font-weight: 700;
   }

   // .header-gallery__text
   &__text {
      @include adaptiveValue('font-size',18,14);
      max-width: toRem(500);
      text-align: center;
   }
}

.slider-gallery {

   @media (max-width: toEm(767)) {
      margin-inline: toRem(-15);
      padding-inline: toRem(15);
   }

   // .slider-gallery__wrapper
   &__wrapper {}

   // .slider-gallery__slide
   &__slide {}
}

.slider-link {
   aspect-ratio: 367 / 550;
   overflow: hidden;
   will-change: scale;

   &__image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.5s;

      @include hover {
        scale: 1.05;
      }
   }

   &__label {
      position: absolute;
      @include adaptiveValue('top',40,20);
      @include adaptiveValue('right', 20, 10);
      display: inline-flex;
      align-items: center;
      gap: toRem(5);
      color: $white;
   }
}

// =============================================================
.reviews {

   // .reviews__container
   &__container {}

   // .reviews__slider
   &__slider {}
}

.slider-reviews {

   // .slider-reviews__wrapper
   &__wrapper {
      @include adaptiveValue('margin-bottom', 70, 40);
   }

   // .slider-reviews__slide
   &__slide {}
}

.item-review {
   display: flex;
   flex-direction: column;
   align-items: center;
   @include adaptiveValue('gap',37,20);
   // .item-review__text
   &__text {
      max-width: toRem(1190);
      font-style: Italic;
      @include adaptiveValue('font-size',20,16);
      text-align: center;
   }

   // .item-review__author
   &__author {
      @include adaptiveValue('font-size', 15, 12);
   }
}

.swiper-pagination {
   // @include adaptiveValue('margin-top', 50, 20);
   span {
      width: toRem(10);
      height: toRem(10);
      background-color: $black;
      border-radius: toRem(0);
   }
}

// =============================================================
.steps {

   // .steps__container
   &__container {}

   // .steps__items
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(290),100%),1fr));
      gap: toRem(15);
   }
}

.item-step {
   display: flex;
   flex-direction: column;
   align-items: center;
   @include adaptiveValue('padding-top',54,20);
   padding-inline: toRem(18);
   padding-bottom: toRem(10);

   >* {
      @include adaptiveValue('margin-bottom', 29, 15);

      &:last-child {
         margin-bottom: toRem(0);
      }
   }

   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .item-step__image
   &__image {
      width: toRem(95);
      aspect-ratio: 1
   }

   // .item-step__title
   &__title {
      @include adaptiveValue('font-size',24,20);
      text-transform: uppercase;
      margin-bottom: toRem(12);
   }

   // .item-step__text
   &__text {
      text-align: center;
      @include adaptiveValue('font-size', 15, 12);
      @include adaptiveValue('margin-bottom', 28,10);
      max-width: toRem(285)
   }

   // .item-step__link
   &__link {
      @include adaptiveValue('font-size',15,12);
      border-bottom: toRem(1) solid $black;
      line-height: 1;
      transition: all 0.3s;

      @include hover {
      text-shadow: 0 0 2px $black;
      }
   }
}

// =============================================================
.partners {

   // .partners__container
   &__container {}

   // .partners__title
   &__title {
      @include adaptiveValue('font-size',20,18);
      letter-spacing: toRem(0.3);
      text-align: center;
      @include adaptiveValue('margin-bottom',41,20);
   }

   // .partners__image
   &__image {}
}
