@use "sass:math";

@keyframes jumpArrow {

   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-4px);
   }
}

@keyframes arrowMove {
   0% {
      transform: translateX(0);
   }

   60% {
      transform: translateX(2px);
   }

   80% {
      transform: translateX(4px);
   }

   100% {
      transform: translateX(6px);
   }
}

@keyframes bounce {
   0% {
      transform: translateX(0);
   }

   40% {
      transform: translateX(6px);
   }

   60% {
      transform: translateX(3px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes shine {
   0% {
      left: -80%;
   }

   100% {
      left: 120%;
   }
}
